.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/

*.iml
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.idea/
.vscode/

android/.gradle/
android/captures/
android/local.properties
android/app/debug
android/app/profile
android/app/release
android/key.properties
**/*.keystore
**/*.jks

.env
.env.local
*.lock
!pubspec.lock

.local-sdk/

